/AllFilters.class
/DirectorsFilter.class
/EfficientRater.class
/Filter.class
/FirstRatings.class
/FourthRatings.class
/GenreFilter.class
/MinutesFilter.class
/Movie.class
/MovieDatabase.class
/MovieRunnerAverage.class
/MovieRunnerSimilarRatings.class
/MovieRunnerWithFilters.class
/PlainRater.class
/Rater.class
/RaterDatabase.class
/Rating.class
/RecommendationRunner.class
/Recommender.class
/SecondRatings$1.class
/SecondRatings.class
/ThirdRatings$1.class
/ThirdRatings.class
/TrueFilter.class
/YearAfterFilter.class
